/* General Styles */
body {
    font-family: 'Roboto Slab', serif;
    background-color: #F5F5F5; /* Light Grey Background */
    color: #0A1128; /* Navy Text */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbars */
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0A1128; /* Navy for Headings */
}

a {
    color: #FF6F00; /* Orange Accent for Links */
    text-decoration: none;
}

a:hover {
    color: #FFA733; /* Slightly lighter Orange for hover effect */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0A1128; /* Navy background for the Navbar */
}

.navbar-left {
    flex: 1;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #F5F5F5;
}

/* Link Styles */
.navbar-right a {
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5; /* Light Grey text on the button */
    text-decoration: none;
    font-size: 18px;
    background-color: #FF6F00; /* Orange background for the button */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-right a:hover {
    background-color: #FFA733; /* Lighter Orange for hover effect */
}

/* Centered Heading Style */
.contact-heading {
    text-align: center;
    margin-top: 40px; /* Adjust the top margin as needed */
    font-size: 2em; /* Adjust the font size as needed */
}

/* Contact Page Styles */
.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full height of the viewport */
    background-color: #F5F5F5; /* Light Grey Background */
}

.social-media {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    align-items: center; /* Center align the icons horizontally */
    gap: 20px; /* Space between the icons */
}

.social-media ion-icon {
    font-size: 60px; /* Size of the icons */
    color: #0A1128; /* Navy color for the icons */
    transition: color 0.3s ease;
}

.social-media ion-icon:hover {
    color: #FF6F00; /* Orange color on hover */
}

#typewriter {
    font-family: 'Montserrat', serif;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5F5; /* Default text color */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #F5F5F5; /* Blinking cursor */
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: #0A1128; }
}

/* Default light mode styles are already in place */

body.dark-mode {
    background-color: #404347; /* Grey Background for Dark Mode */
    color: #101010; /* Dark Text for Dark Mode */
}

.navbar.dark-mode {
    background-color: #101010; /* Dark Background for Dark Mode Navbar */
}

.navbar-right a.dark-mode {
    color: #F5F5F5; /* White Text for Dark Mode Navbar Links */
    background-color: #FF6F00; /* Orange Background for Dark Mode Links */
}

.dark-mode .logo {
    color: #0A1128; /* Navy Text for the Logo in Dark Mode */
}

.dark-mode a {
    color: #101010; /* Dark Links in Dark Mode */
}

/* Additional dark mode styles for other elements can be added here */
.dark-mode .about-me h2, .projects h2, .skills h2 {
    color: #101010;
}

.dark-mode ion-icon {
    color: #101010;
}

.dark-mode .contact-heading {
    color: #101010;
}

.dark-mode .contact-content {
    background-color:  #404347;
}

.dark-mode .social-media {
    background-color: #404347;
}

/* For screens up to 1536px */
@media (max-width: 1536px) {
    .content {
        margin-right: 220px; /* Decrease space to bring text and image closer */
        font-size: 18px; /* Adjust font size */
    }

    .image-container {
        max-width: 220px; /* Reduce max-width of the image */
        max-height: 270px; /* Reduce max-height of the image */
        right: 20px; /* Adjust position if needed */
    }

    .image-container img {
        width: 110%; /* Slightly reduce image size */
    }
}

/* For screens up to 1280px */
@media (max-width: 1280px) {}

/* For screens up to 1024px */
@media (max-width: 1024px) {}

/* For screens up to 768px */
@media (max-width: 768px) {}

/* For screens up to 640px */
@media (max-width: 640px) {}

/* For screens up to 475px */
@media (max-width: 475px) {}
