/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0A1128; /* Navy background for the Navbar */
}

.navbar-left {
    flex: 1;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #F5F5F5; /* Navy color for the logo */
}

/* Link Styles */
.navbar-right a {
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5; /* Light Grey text on the button */
    text-decoration: none;
    font-size: 18px;
    background-color: #FF6F00; /* Orange background for the button */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-right a:hover {
    background-color: #FFA733; /* Lighter Orange for hover effect */
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #F5F5F5; /* Light Grey Background */
    color: #0A1128; /* Navy Text */
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0A1128; /* Navy for Headings */
}

a {
    color: #FF6F00; /* Orange Accent for Links */
    text-decoration: none;
}

a:hover {
    color: #FFA733; /* Slightly lighter Orange for hover effect */
}

.image-container {
    position: absolute;
    right: 20px; /* Space from the right edge */
    top: calc(100px + 20px); /* Space from the bottom of the navbar (navbar height + padding) */
}

.image-container img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
